/*Importando los parcials*/
/*Variables para responsive*/
/*Variables Fuentes*/
/*Variables generales*/
/*Declarando Mapas*/
/*Estilos del pie de pagina*/
.foot {
  background-image: url("../Imagenes/Texturas/Textura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 2px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  .foot__titles {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 700;
  }
  .foot__listPages {
    font-family: "Dosis", sans-serif;
    font-size: 5px;
    font-weight: 500;
    list-style: none;
    padding-left: 25px;
  }
  .foot__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-right: 15px;
  }
  a.foot__style {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: darkgray;
    text-decoration: none;
  }
  div.foot__cont ul.foot__contact {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

@media screen and (min-width: 426px) {
  .foot__titles {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 700;
  }
  .foot__listPages {
    font-family: "Dosis", sans-serif;
    font-size: 5px;
    font-weight: 500;
    list-style: none;
  }
  .foot__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-right: 15px;
  }
  a.foot__style {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: darkgray;
    text-decoration: none;
  }
  div.foot__cont ul.foot__contact {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .foot__titles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .foot__listPages {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
  }
  .foot__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-right: 15px;
  }
  a.foot__style {
    font-family: "Dosis", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: darkgray;
    text-decoration: none;
  }
  div.foot__cont ul.foot__contact {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

@media screen and (max-width: 425px) {
  /*Logo responsive*/
  .logo img {
    width: 100vw;
  }
  /*Botones de contactSheet*/
  .btn-outline-success--font {
    font-family: "Dosis", sans-serif;
  }
  .btn-outline-secondary--font {
    font-family: "Dosis", sans-serif;
  }
  .realNews {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .realNews__portada {
    display: contents;
    width: 100%;
    height: 150px;
  }
  .realNews__portada img {
    width: 100vw;
  }
  .opacityDiv {
    background-image: url("../Imagenes/Texturas/titles_tex.jpg");
  }
  .opacityDiv__bigTitles {
    /*Usando id para agregar estilos*/
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .opacityDiv__titles {
    font-family: "Dosis", sans-serif;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .largometrajes__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .videoclips__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cortometrajes__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .publicidad__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .largometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .cortometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .videoclips__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .publicidad__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .largometrajes__secVid {
    width: 100%;
    height: 65%;
  }
  .cortometrajes__secVid {
    width: 100%;
    height: 65%;
  }
  .videoclips__secVid {
    width: 100%;
    height: 65%;
  }
  .videoclips__secImg {
    width: 100%;
    height: 65%;
  }
  .publicidad__secImg {
    width: 100%;
    height: 65%;
  }
  .largometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin: 6%;
  }
  .cortometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin: 6%;
  }
  .videoclips__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin: 6%;
  }
  .publicidad__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin: 6%;
  }
  .largometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  .cortometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  .videoclips__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  .publicidad__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  .largometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .cortometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .videoclips__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .publicidad__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
}

@media screen and (min-width: 426px) {
  .btn-outline-success--font {
    font-family: "Dosis", sans-serif;
  }
  .btn-outline-secondary--font {
    font-family: "Dosis", sans-serif;
  }
  .realNews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .realNews__portada {
    display: contents;
    width: 100%;
    height: 150px;
  }
  .opacityDiv {
    background-image: url("../Imagenes/Texturas/titles_tex.jpg");
  }
  .opacityDiv__bigTitles {
    /*Usando id para agregar estilos*/
    font-family: "Dosis", sans-serif;
    font-size: 27px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .opacityDiv__titles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .largometrajes__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .videoclips__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cortometrajes__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .publicidad__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .largometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cortometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .videoclips__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .publicidad__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .largometrajes__secVid {
    width: 33%;
    height: 100%;
  }
  .cortometrajes__secVid {
    width: 33%;
    height: 100%;
  }
  .videoclips__secVid {
    width: 33%;
    height: 100%;
  }
  .videoclips__secImg {
    width: 33%;
    height: 100%;
  }
  .publicidad__secImg {
    width: 33%;
    height: 100%;
  }
  .largometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
    margin: 3%;
  }
  .cortometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
    margin: 3%;
  }
  .videoclips__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
    margin: 3%;
  }
  .publicidad__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
    margin: 3%;
  }
  .largometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .cortometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .videoclips__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .publicidad__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .largometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
  .cortometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
  .videoclips__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
  .publicidad__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
}

@media screen and (min-width: 992px) {
  .btn-outline-success--font {
    font-family: "Dosis", sans-serif;
  }
  .btn-outline-secondary--font {
    font-family: "Dosis", sans-serif;
  }
  .realNews {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .realNews__portada {
    width: 100vw;
  }
  .opacityDiv {
    background-image: url("../Imagenes/Texturas/titles_tex.jpg");
  }
  .opacityDiv__bigTitles {
    /*Usando id para agregar estilos*/
    font-family: "Dosis", sans-serif;
    font-size: 32px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .opacityDiv__titles {
    font-family: "Dosis", sans-serif;
    font-size: 25px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .largometrajes__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .videoclips__secPar {
    background-color: #d7d6d86c;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cortometrajes__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .publicidad__secImp {
    background-color: #ffffffa1;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .largometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cortometrajes__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .videoclips__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .publicidad__vidText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .largometrajes__secVid {
    width: 33%;
    height: 100%;
  }
  .cortometrajes__secVid {
    width: 33%;
    height: 100%;
  }
  .videoclips__secVid {
    width: 33%;
    height: 100%;
  }
  .videoclips__secImg {
    width: 33%;
    height: 100%;
  }
  .publicidad__secImg {
    width: 33%;
    height: 100%;
  }
  .largometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin-right: 35%;
  }
  .cortometrajes__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin-right: 35%;
  }
  .videoclips__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin-right: 35%;
  }
  .publicidad__containText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin-right: 35%;
  }
  .largometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .cortometrajes__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .videoclips__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .publicidad__subtitles {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .largometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .cortometrajes__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .videoclips__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .publicidad__parrafs {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=sstyle.css.map */