/*Importando los parcials*/
@import 'vars';
@import 'header';
@import 'footer';

@media screen  and (max-width: $breakpoint-mobile){

    /*Logo responsive*/
    .logo{
        img{
            width: $vw-full;
        }
    }
    
    /*Botones de contactSheet*/
    .btn-outline-success--font{
        font-family: $font-family;
    }

    .btn-outline-secondary--font{
        font-family: $font-family;
    }
    
    .realNews{
        position: relative;
        z-index: 1;
        width: $pct-full;
        height: $pct-full;
    }

    .realNews__portada{
        display: contents;
        width: $pct-full;
        height: 150px;

        img{
            width: $vw-full;
        }
    }

    .opacityDiv{
        background-image: url("../Imagenes/Texturas/titles_tex.jpg");
    }

    .opacityDiv__bigTitles{/*Usando id para agregar estilos*/
        font-family: $font-family;
        font-size: $bigTitles-mbl;
        font-weight: $font-big;
        background-color: rgba(0, 0, 0, 0.486);
        color: $bigTitles-color;
        padding-left: 30px;
        padding-top: $size10;
        padding-bottom: $size10;
    }

    .opacityDiv__titles{
        font-family: $font-family;
        font-size: $titles-mbl;
        font-weight: $font-medium;
        background-color: rgba(0, 0, 0, 0.486);
        color: $titles-color;
        padding-top: $size10;
        padding-bottom: $size10;
        padding-left: 30px;
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto} {
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }


    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__section {
            border-radius: $size10;
            box-shadow: 0px 14px 80px;
            max-width: 90%;
            display: flex;
            flex-direction: row;
            margin: 2%;
            background-color: white;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__vidText {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__imgVid {
            border-top-left-radius: $size10;
            border-top-right-radius: $size10;
            width: $pct-full;
            height: $pct-full;
            grid-column: 1;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__containText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 350px;
            margin: 6%;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__subtitles {
            font-family: $font-family;
            font-size: $subtitles-mbl;
            font-weight: $font-big;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__parrafs {
            font-family: $font-family;
            font-size: $parrafs-mbl;
            font-weight: $font-medium;
        }
    }

    .section{
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .section__item{
        border-radius: $size10;
        box-shadow: 0px 14px 80px;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        margin: 2%;
        background-color: white;
    }

    .section__imgText{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .section__imgText1{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 0px;
    }

    .section__secImg{
        border-top-left-radius: $size10;
        border-top-right-radius: $size10;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1;
    }

    .section__containText{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-row: 2;
        align-self: center;
    }

    .section__containText1{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-row: 2;
        align-self: center;
    }

    .section__subtitles{
        font-family: $font-family;
        font-size: $subtitles-mbl;
        font-weight: $font-big;
    }

    .section__parrafs{
        font-family: $font-family;
        font-size: $parrafs-mbl;
        font-weight: $font-medium;
    }

    /*Tablas*/
    .section__listActors{
        font-family: $font-family;
        font-size: $subtitles-mbl;
        font-weight: $font-medium;
        background-color: rgba(105, 105, 105, 0.425);
        margin-top: 25px;
        margin-left: 30px;
        border-radius: $size10;
        box-shadow: 0px 5px 20px;

        tbody, td, tfoot, th, thead, tr{
            padding: $size10;
        }
    }

    .carousel-inner--grid{
        border-top-left-radius: $size10;
        border-top-right-radius: $size10;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1/3;

        img, svg{
            max-width: 383px;
        }
    }

}

@media screen  and (min-width: $breakpoint-tablet){
    .btn-outline-success--font{
        font-family: $font-family;
    }

    .btn-outline-secondary--font{
        font-family: $font-family;
    }

    .realNews{
        display: flex;
        flex-direction: column;
    }

    .realNews__portada{
        display: contents;
        width: $pct-full;
        height: 150px;
    }

    .opacityDiv{
        background-image: url("../Imagenes/Texturas/titles_tex.jpg");
    }

    .opacityDiv__bigTitles{/*Usando id para agregar estilos*/
        font-family: $font-family;
        font-size: $bigTitles-tbt;
        font-weight: $font-big;
        background-color: rgba(0, 0, 0, 0.486);
        color: $bigTitles-color;
        padding-left: 30px;
        padding-top: $size10;
        padding-bottom: $size10;
    }

    .opacityDiv__titles{
        font-family: $font-family;
        font-size: $titles-tbt;
        font-weight: $font-medium;
        background-color: rgba(0, 0, 0, 0.486);
        color: $titles-color;
        padding-top: $size10;
        padding-bottom: $size10;
        padding-left: 30px;
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto} {
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__section {
            border-radius: $size10;
            box-shadow: 0px 14px 80px;
            max-width: 90%;
            display: flex;
            flex-direction: row;
            margin: 1%;
            background-color: white;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__vidText {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__imgVid {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: $pct-full;
            height: $pct-full;
            grid-column: 1/3;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__containText {
            padding: 1.5em 1.5em 1.5em 1.5em;
            grid-column: 3/5;
            align-self: center;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__subtitles {
            font-family: $font-family;
            font-size: $subtitles-tbt;
            font-weight: $font-big;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__parrafs {
            font-family: $font-family;
            font-size: $parrafs-tbt;
            font-weight: $font-medium;
        }
    }

    .section{
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .section__item{
        border-radius: $size10;
        box-shadow: 0px 14px 80px;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        margin: 1%;
        background-color: white;
    }

    .section__imgText{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .section__imgText1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 0px;
    }

    .section__secImg{
        border-top-left-radius: $size10;
        border-bottom-left-radius: $size10;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1/3;
    }

    .section__containText{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-column: 3/5;
        align-self: center;
    }

    .section__containText1{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-column: 2/5;
        align-self: center;
    }

    .section__subtitles{
        font-family: $font-family;
        font-size: $subtitles-tbt;
        font-weight: $font-big;
    }

    .section__parrafs{
        font-family: $font-family;
        font-size: $parrafs-tbt;
        font-weight: $font-medium;
    }

    /*Tablas*/
    .section__listActors{
        font-family: $font-family;
        font-size: $subtitles-tbt;
        font-weight: $font-medium;
        background-color: rgba(105, 105, 105, 0.425);
        margin-top: 25px;
        margin-left: 30px;
        border-radius: $size10;
        box-shadow: 0px 5px 20px;

        tbody, td, tfoot, th, thead, tr{
            padding: $size10;
        }
    }

    .carousel-inner--grid{
        border-top-left-radius: $size10;
        border-bottom-left-radius: $size10;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1/3;
    }

}

@media screen  and (min-width: $breakpoint-pc){
    .btn-outline-success--font{
        font-family: $font-family;
    }

    .btn-outline-secondary--font{
        font-family: $font-family;
    }

    .realNews{
        position: relative;
        z-index: 1;
        width: $pct-full;
        height: $pct-full;
    }

    .realNews__portada{
        width: $vw-full;
    }

    .opacityDiv{
        background-image: url("../Imagenes/Texturas/titles_tex.jpg");
    }

    .opacityDiv__bigTitles{/*Usando id para agregar estilos*/
        font-family: $font-family;
        font-size: $bigTitles-pc;
        font-weight: $font-big;
        background-color: rgba(0, 0, 0, 0.486);
        color: $bigTitles-color;
        padding-left: 30px;
        padding-top: $size10;
        padding-bottom: $size10;
    }

    .opacityDiv__titles{
        font-family: $font-family;
        font-size: $titles-pc;
        font-weight: $font-medium;
        background-color: rgba(0, 0, 0, 0.486);
        color: $titles-color;
        padding-top: $size10;
        padding-bottom: $size10;
        padding-left: 30px;
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto} {
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__section {
            border-radius: $size10;
            box-shadow: 0px 14px 80px;
            max-width: 90%;
            display: flex;
            flex-direction: row;
            margin: 1%;
            background-color: white;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__vidText {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__imgVid {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: $pct-full;
            height: $pct-full;
            grid-column: 1/3;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__containText {
            padding: 1.5em 1.5em 1.5em 1.5em;
            grid-column: 3/5;
            align-self: center;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__subtitles {
            font-family: $font-family;
            font-size: $subtitles-pc;
            font-weight: $font-big;
        }
    }

    @each $proyecto, $valor in $proyectos {
        
        .#{$proyecto}__parrafs {
            font-family: $font-family;
            font-size: $parrafs-pc;
            font-weight: $font-medium;
        }
    }

    .section{
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .section__item{
        border-radius: $size10;
        box-shadow: 0px 14px 80px;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        margin: 1%;
        background-color: white;
    }

    .section__imgText{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .section__imgText1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 0px;
    }

    .section__secImg{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1/3;
    }

    .section__containText{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-column: 3/5;
        align-self: center;
    }

    .section__containText1{
        padding: 1.5em 1.5em 1.5em 1.5em;
        grid-column: 2/5;
        align-self: center;
    }

    .section__subtitles{
        font-family: $font-family;
        font-size: $subtitles-pc;
        font-weight: $font-big;
    }

    .section__parrafs{
        font-family: $font-family;
        font-size: $parrafs-pc;
        font-weight: $font-medium;
    }

    /*Tablas*/
    .section__listActors{
        font-family: $font-family;
        font-size: $subtitles-pc;
        font-weight: $font-medium;
        background-color: rgba(105, 105, 105, 0.425);
        margin-top: 25px;
        margin-left: 30px;
        border-radius: $size10;
        box-shadow: 0px 5px 20px;

        tbody, td, tfoot, th, thead, tr{
            padding: $size10;
        }
    }

    .carousel-inner--grid{
        border-top-left-radius: $size10;
        border-bottom-left-radius: $size10;
        width: $pct-full;
        height: $pct-full;
        grid-column: 1/3;
    }

}